<div class="row d-flex justify-content-around">
  <div class="d-flex align-items-center">
    <h5 class="font-weight-bold"><span
        class="badge badge-primary">{{reservation.accommodation.accommodationType.typeName}}</span></h5>
  </div>
  <div class="star-ratings-css" *ngIf="reservation.accommodation.category > 0">
    <span [ngStyle]="{'width': ((reservation.accommodation.category * 100) / 5) + '%'}"
      style="color: #e7711b">
      ★★★★★
    </span>
  </div>
  <h5 class="card-text ml-2 align-middle" *ngIf="reservation.accommodation.category === 0">
    <span class="badge badge-warning">uncategorized</span>
  </h5>
  <h5 class="card-text ml-2 align-middle" *ngIf="reservation.realized">
    <span class="badge badge-info">realized</span>
  </h5>
</div>
<mat-divider class="my-2"></mat-divider>
<p class="font-weight-bold">Location: {{reservation.accommodation.location.country}},
  {{reservation.accommodation.location.city}}, {{reservation.accommodation.location.address}}</p>
<div class="row ml-1">
  <p class="font-weight-bold mr-2">Number of persons: </p>
  <div *ngFor="let item of array(reservation.accommodation.numberOfPersons).fill(1)">
    <i class="fa fa-user mr-1" aria-hidden="true"></i>
  </div>
</div>
<p class="font-weight-bold">
  {{reservation.startDate}} &nbsp;<i class="fa fa-arrows-h"></i>&nbsp; {{reservation.endDate}}
</p>
<p class="font-weight-bold">
  Journey price: {{reservation.price}}
  <span><i class="fa fa-eur"></i></span>
</p>