<h1 mat-dialog-title>Registration</h1>
<mat-dialog-content [formGroup]="registrationForm" class="fields-container">
  <mat-form-field>
    <input matInput type="text" formControlName="username" placeholder="Username">
    <mat-error
      *ngIf="registrationForm.get('username').invalid && (registrationForm.get('username').dirty || registrationForm.get('username').touched)">
      <div *ngIf="registrationForm.get('username').errors.required"> Username is required.</div>
      <div
        *ngIf="!registrationForm.get('username').errors.required &&
                        (registrationForm.get('username').errors.minlength || registrationForm.get('username').errors.maxlength)">
        Invalid username length!
      </div>
      <div *ngIf="registrationForm.get('username').errors.usernameExists"> User with username
        <i>{{registrationForm.value.username}}</i> already exists.</div>
    </mat-error>
    <mat-hint>
      Username length must be between {{usernameMinLength}} and {{usernameMaxLength}}. <br>
    </mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Password">
    <mat-error
      *ngIf="registrationForm.get('password').invalid && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
      <div *ngIf="registrationForm.get('password').errors.required"> Password is required.</div>
      <div
        *ngIf="!registrationForm.get('password').errors.required &&
                        (registrationForm.get('password').errors.minlength || registrationForm.get('password').errors.maxlength)">
        Invalid password length!
      </div>
    </mat-error>
    <mat-hint>
      Password length must be between {{passwordMinLength}} and {{passwordMaxLength}}.
    </mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password">
    <mat-error
      *ngIf="registrationForm.get('confirmPassword').invalid && (registrationForm.get('confirmPassword').dirty || registrationForm.get('confirmPassword').touched)">
      <div *ngIf="registrationForm.get('confirmPassword').errors.required"> Confirming password is required.</div>
      <div
        *ngIf="!registrationForm.get('confirmPassword').errors.required && registrationForm.get('confirmPassword').errors.mustMatch">
        Password does not match!</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="email" formControlName="email" placeholder="Email">
    <mat-error
      *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
      <div *ngIf="registrationForm.get('email').errors.required"> Email is required.</div>
      <div *ngIf="!registrationForm.get('email').errors.required && registrationForm.get('email').errors.email"> Invalid
        email format!</div>
      <div *ngIf="registrationForm.get('email').errors.emailExists"> User with email
        <i>{{registrationForm.value.email}}</i> already exists.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="firstName" placeholder="First name">
    <mat-error
      *ngIf="registrationForm.get('firstName').invalid && (registrationForm.get('firstName').dirty || registrationForm.get('firstName').touched)">
      <div *ngIf="registrationForm.get('firstName').errors.required"> First name is required.</div>
      <div *ngIf="registrationForm.get('firstName').errors.pattern"> Only letters are allowed.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="lastName" placeholder="Last name">
    <mat-error
      *ngIf="registrationForm.get('lastName').invalid && (registrationForm.get('lastName').dirty || registrationForm.get('lastName').touched)">
      <div *ngIf="registrationForm.get('lastName').errors.required"> Last name is required.</div>
      <div *ngIf="registrationForm.get('lastName').errors.pattern"> Only letters are allowed.</div>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="validateByUsername()"
    [disabled]="registrationForm.invalid">Submit</button>
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>