<div *ngIf="accommodations">
  <div class="jumbotron jumbotron-fluid p-5 bg-info text-white">
    <div class="container">
      <h1 class="display-4" style="text-shadow: 1px 1px #000000;">Showing accommodation in or near by:</h1>
      <h1 class="display-4" style="text-shadow: 1px 1px #000000;">&lt;place for searched location&gt;</h1>
      <p class="lead mt-4">
        We have found {{accommodations.length}} accommodations for you in following period: &lt;start date&gt; 
        <i class="fa fa-long-arrow-right"></i> &lt;end date&gt;
      </p>
    </div>
  </div>
  <div class="container d-flex justify-content-center" *ngFor="let accommodation of accommodations">
    <div class="card text-white w-75 mat-elevation-z16 mb-4" style="background-color: #E59F71">
      <div class="row">
        <div class="col-md-6 container d-flex justify-content-center">
          <div class="row justify-content-center align-self-center">
            <img alt="Place for image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="row justify-content-center align-self-center">
            <div class="card-body">
              <div class="row ml-3 mb-2">
                <div class="d-flex align-items-center">
                    <h5 class="card-text"><span class="badge badge-primary">{{accommodation.accommodationType.typeName}}</span></h5>
                </div>
                <div class="col-8">
                  <div class="star-ratings-css" *ngIf="accommodation.category > 0">
                      <span [ngStyle]="{'width': ((accommodation.category * 100) / 5) + '%'}" class="text-warning align-middle">
                        ★★★★★
                      </span>
                  </div>
                  <h5 class="card-text ml-2 align-middle" *ngIf="accommodation.category === 0"><span class="badge badge-warning">uncategorized</span></h5>
                </div>
              </div>
              <p class="card-text"><b>Location: </b>{{accommodation.location.country}}, {{accommodation.location.city}}, {{accommodation.location.address}}</p>
              <p class="card-text">
                  <b>Distance: </b> <u matTooltip="This is just the air distance." 
                                       matTooltipPosition="after" 
                                       style="cursor: help;"> {{accommodation.distance}} km </u>
              </p>
              <p class="card-text"><b>Description: </b>{{(!accommodation.description) ? '✗' : accommodation.description}}</p>
              <p class="card-text"><b>Price for requested period: </b>{{accommodation.priceForRequestedPeriod}}</p>
              <div class="row ml-3 mb-2">
                <div *ngFor="let item of array(accommodation.numberOfPersons).fill(1)">
                  <i class="fa fa-user mr-1" aria-hidden="true"></i>
                </div>
              </div>
              <p class="card-text" *ngIf="accommodation.freeCancellation"><span class="badge badge-success">Free cancellation is possible {{accommodation.cancellationDays}} days before departure.</span></p>
              <div class="d-flex justify-content-end align-items-end mt-5">
                <button (click)="beginReservationProcess(accommodation)" class="btn btn-danger">
                  Reservation &nbsp; <i class="fa fa-calendar-plus-o"></i>
                </button>
                <button class="btn btn-danger mx-2">
                  Details &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>