<h1 mat-dialog-title>Create admin</h1>
<mat-dialog-content [formGroup]="adminForm" class="fields-container">
  <div class="row d-flex justify-content-center mt-3">
    <mat-form-field class="w-75">
      <input matInput type="text" formControlName="username" placeholder="Username">
      <mat-error
        *ngIf="adminForm.get('username').invalid && (adminForm.get('username').dirty || adminForm.get('username').touched)">
        <div *ngIf="adminForm.get('username').errors.required"> Username is required.</div>
        <div *ngIf="!adminForm.get('username').errors.required &&
                          (adminForm.get('username').errors.minlength || adminForm.get('username').errors.maxlength)">
          Invalid username length!
        </div>
        <div *ngIf="adminForm.get('username').errors.usernameExists"> User with username
          <i>{{adminForm.value.username}}</i> already exists.</div>
      </mat-error>
      <mat-hint>
        Username length must be between {{usernameMinLength}} and {{usernameMaxLength}}. <br>
      </mat-hint>
    </mat-form-field>
  </div>
  <br>
  <div class="row d-flex justify-content-center mt-3">
    <mat-form-field class="w-75">
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error
        *ngIf="adminForm.get('password').invalid && (adminForm.get('password').dirty || adminForm.get('password').touched)">
        <div *ngIf="adminForm.get('password').errors.required"> Password is required.</div>
        <div *ngIf="!adminForm.get('password').errors.required &&
                          (adminForm.get('password').errors.minlength || adminForm.get('password').errors.maxlength)">
          Invalid password length!
        </div>
      </mat-error>
      <mat-hint>
        Password length must be between {{passwordMinLength}} and {{passwordMaxLength}}.
      </mat-hint>
    </mat-form-field>
  </div>
  <br>
  <div class="row d-flex justify-content-center mt-3">
    <mat-form-field class="w-75">
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password">
      <mat-error
        *ngIf="adminForm.get('confirmPassword').invalid && (adminForm.get('confirmPassword').dirty || adminForm.get('confirmPassword').touched)">
        <div *ngIf="adminForm.get('confirmPassword').errors.required"> Confirming password is required.</div>
        <div
          *ngIf="!adminForm.get('confirmPassword').errors.required && adminForm.get('confirmPassword').errors.mustMatch">
          Password does not match!</div>
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="mt-5">
  <button mat-raised-button color="primary" type="submit" (click)="validateByUsername()"
    [disabled]="adminForm.invalid">Submit</button>
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>