/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fill{
    flex: 1 1 auto;
}

.fields-container {
    display: flex;
    flex-direction: column;
}
  
.fields-container > * {
    width: 100%;
}

.mat-tooltip {
    font-size: 100% !important;
}

.star-ratings-css {
    font-size: 22px;
    display: inline-block;
    word-wrap: normal;
}

.star-ratings-css > span {
    display: inline-block;
    overflow: hidden;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}